$slots: 22;
$height: 1200px;
.wrapper {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .positioner {
    position: absolute;
    height: 100%;
    top: calc($height / -2);
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      position: absolute;
      width: 338px;
      height: $height;
      transform-origin: bottom center;
      clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
      background: #eee;
      @for $i from 1 through $slots {
        &:nth-child(#{$i}) {
          transform: rotate(calc((360deg / #{$slots}) * #{$i}));
        }
      }
    }
  }
}
